<!DOCTYPE html>
<html>

    <head lang="en">
        <meta charset="utf-8">
        <title>Wiki</title>
        <link rel="stylesheet" href="css/index.css" type="text/css"/>
    </head>

    <body ng-app="wikiApp">
        <div id="wikiHeader" ng-controller="wikiAppController as waCtrl" >
            <div id="headerLogo ng-hide" ng-show="1==1"></div>
            <div id="headerSignIn" ng-hide="signedIn">
                <form ng-submit="waCtrl.logIn()">
                    <input type="text" ng-model='waCtrl.email' size="30" placeholder="Email Address"/>
                    <input type="password" ng-model='waCtrl.password' placeholder="Password"/>
                    <input class="btn-primary" type="submit" value="Login"/>
                </form>
            </div>
            <div id="headerProfile" class="ng-hide" ng-show="signedIn">
                Hello {{waCred.first+" "+waCred.last}}
            </div>
        </div>
        <!--[if lt IE 8]>
            <div class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</div>
        <![endif]-->
        <div id="wikiBody" ng-view></div>
        <div id="wikiFooter">
        </div>
    </body>

    <script src="js/angular/angular.js"></script>
    <script src="js/angular/angular-route.js"></script>
    <!-- Included components -->
    <script src="js/index.js"></script>
    <script src="js/articles/articles.js"></script>
    <script src="js/error/error.js"></script>
    <script src="js/mainPage/mainPage.js"></script>
    <script src="js/searchResults/searchResults.js"></script>
    <script src="js/signUp/signUp.js"></script>

</html>